<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- API project -->
	<system.webServer>
		<handlers>
			<remove name="aspNetCore" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" forwardWindowsAuthToken="false" stdoutLogEnabled="false" startupTimeLimit="3600" requestTimeout="23:00:00">
            <environmentVariables>
                
            </environmentVariables>
        </aspNetCore>
	</system.webServer>
</configuration>